.dockerignore
Dockerfile
.gitignore
.envrc
.idea
config
deploy
build
.git
_build
.vscode
.pytest_cache
**/local_config.*
**/__pycache__/
**/*.py[cod]
.ropeproject
migrations
src
.cache
_book
frontend
!frontend/dist
doc
