_build
.vscode
.pytest_cache/
*.py[co]
.ipynb_checkpoints
test.ipynb
.env
local_config.*
__pycache__
.ropeproject
src
.cache
_book
public
node_modules
passwords.txt
secret.json
.envrc
.idea/
/config/
/dist
/celerybeat-schedule
