[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mock = "*"
pytest-flask = "*"
pytest-mock = "*"
ipython = "*"
pdbpp = "*"
pylint = "*"

[packages]
flask = "*"
flask-oidc = "*"
flask-sqlalchemy = "*"
flask-session = "*"
flask-caching = "*"
flask-sockets = "*"
flask-migrate = "*"
flask-admin = "*"
redis = "*"
smart-getenv = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-mako = "*"
raven = "*"
pyyaml = "*"
more-itertools = "*"
gunicorn = "*"
pymysql = "*"
requests = ">=2.20.0"
humanize = "*"
humanfriendly = "*"
boltons = "*"
blinker = "*"
wrapt = "*"
pyparsing = "*"
crontab = "*"
webargs = ">=6.1.0"
python-redis-lock = "*"
addict = "*"
docker = "*"# workaround for issue https://github.com/pypa/pipenv/issues/2113
kubernetes = "==11.0.0"
celery = "*"
marshmallow = "*"
flasgger = "*"
kaelib = "==0.0.9"
python-keycloak = "*"
grafana-api = "*"

[requires]
python_version = "3.6"
